* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* html {
    overflow: hidden;
} */

body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 12%;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.nav-links a {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    color: orange;
    border-bottom: 3px solid orange;
}

.logo {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: orange;
    text-shadow: 0 0 25px orange, 0 0 50px orange;
    transform: scale(1.1);
}

span {
    color: orange;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .media {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 4px;
}

.main-container .round-media {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

.main-container .content {
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: 30px;
}